# EE-690 - Machine Learning
## Introduction to Python
### Source: https://docs.python.org

## Contents:
1. Arithmetic Operations
2. Strings
3. List
4. IF Statement
5. For Loop
6. break and continue Statements in Loops
7. Functions
8. Lambda Expressions
9. Map Functions
10. Filter
11. More on Lists
12. Tuples and Sequences
13. Sets
14. Dictionary

## 1. Aritmetic Operations

In [1]:
2 + 2

4

In [2]:
50 - 5*6

20

In [3]:
(50 - 5*6) / 4

5.0

In [4]:
8 / 5

1.6

In [5]:
8 // 5

1

In [6]:
17 % 3

2

In [7]:
5 ** 2

25

In [8]:
2 ** 7

128

In [9]:
width = 20
height = 5 * 9
width * height

900

## 2. Strings

In [11]:
'spam eggs'

'spam eggs'

In [12]:
'doesn\'t'

"doesn't"

In [13]:
"doesn't"

"doesn't"

In [14]:
'"Yes," he said.'

'"Yes," he said.'

In [15]:
"\"Yes,\" he said."

'"Yes," he said.'

In [16]:
'"Isn\'t," she said.'

'"Isn\'t," she said.'

In [18]:
prefix = 'Py'
prefix + 'thon'

'Python'

In [19]:
word = 'Python'
print(word[0])
word[5]

P

'n'

In [20]:
word[-1]

'n'

In [21]:
word[-2]

'o'

In [22]:
word[-6]

'P'

In [23]:
word[0:2]

'Py'

In [24]:
word[2:5]

'tho'

In [26]:
word[:2] + word[2:]

'Python'

In [29]:
word[:4] + word[4:]

'Python'

In [30]:
word[:2]

'Py'

In [32]:
word[4:]

'on'

In [34]:
word[-2:]

'on'

In [38]:
'J' + word[1:]

'Jython'

In [39]:
word[:2] + 'py'

'Pypy'

In [40]:
len(word)

6

## 3. List

In [42]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [44]:
print(squares[0])
print(squares[-1])
print(squares[-3:])
print(squares[:])

1
25
[9, 16, 25]
[1, 4, 9, 16, 25]

In [46]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [51]:
cubes = [1, 8, 27, 65, 125]
cubes[3] = 64
cubes

[1, 8, 27, 64, 125]

In [53]:
cubes.append(216)
cubes

[1, 8, 27, 64, 125, 216, 216]

In [54]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(letters)

letters[2:5] = ['C', 'D', 'E']
print(letters)

letters[2:5] = []
print(letters)

letters[:] = []
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g']
['a', 'b', 'C', 'D', 'E', 'f', 'g']
['a', 'b', 'f', 'g']
[]

In [55]:
letters = ['a', 'b', 'c', 'd']
print(len(letters))

4

In [56]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [58]:
print(x[0])
print(x[0][1])

['a', 'b', 'c']
b

## 4. If Statement

In [66]:
x = int(input("Please enter an integer: "))

Please enter an integer: -1

In [67]:
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Negative changed to zero

## 5. For Loop

In [71]:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [72]:
for w in words[:]:  # Loop over a slice copy of the entire list.
    if len(w) > 4:
        words.insert(0, len(w))

words

[12, 6, 'cat', 'window', 'defenestrate']

In [74]:
for i in range(5):
    print(i)

0
1
2
3
4

In [80]:
r = range(5, 10)
for i in r:
    print(i)

5
6
7
8
9

In [81]:
r = range(0, 10, 3)
for i in r:
    print(i)

0
3
6
9

In [82]:
r = range(-10, -100, -30)
for i in r:
    print(i)

-10
-40
-70

In [83]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [84]:
list(range(5))

[0, 1, 2, 3, 4]

## 6. break and continue Statements in Loops

In [90]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

## 7. Functions

In [3]:
def fib(n):
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

In [4]:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

*A function that returns a list of the Fibonacci series*

In [6]:
def fib2(n):  # return Fibonacci series up to n
    """Return a list containing the Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [7]:
lst = fib2(100)
lst

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

*Default Argument Values*

In [97]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)
        
ask_ok('Do you really want to quit?')

Do you really want to quit?y

True

In [98]:
ask_ok('OK to overwrite the file?', 2)

OK to overwrite the file?n

False

In [100]:
ask_ok('OK to overwrite the file?', 2, 'Come on, only yes or no!')

OK to overwrite the file?j
Come on, only yes or no!
OK to overwrite the file?y

True

## 8. Lambda Expressions

In [9]:
r = lambda x, y: x * y
r(12, 3)

36

In [10]:
(lambda x, y: x * y)(3,4)

12

In [ ]:
def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(42)

print(f(0))

print(f(1))

## 9. Map Functions

In [15]:
def double(z):
  return z * 2
    
result = list(map(double, [1, 2, 3, 4]))
result

[2, 4, 6, 8]

In [17]:
list(map(lambda x : x*2, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [19]:
list1 = [5, 10, 20]
list2 = [100, 100, 10000]
  
list(map(lambda x, y: x + y, list1, list2))

[105, 110, 10020]

## 10. Filter

In [21]:
a = [1, 2, 3, 4, 5, 6]
f = filter(lambda x : x % 2 == 0, a)
list(f)

[2, 4, 6]

In [ ]:
## 11. More on Lists

list.append(x)
Add an item to the end of the list. Equivalent to a[len(a):] = [x].

list.extend(iterable)
Extend the list by appending all the items from the iterable. 
Equivalent to a[len(a):] = iterable.

list.insert(i, x)
Insert an item at a given position. The first argument is the index
of the element before which to insert, so a.insert(0, x) inserts at 
the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).

list.remove(x)
Remove the first item from the list whose value is x. 
It is an error if there is no such item.

list.pop([i])
Remove the item at the given position in the list, and return it. 
If no index is specified, a.pop() removes and returns the last item 
in the list. (The square brackets around the i in the method signature denote that the parameter is optional, not that you should type square
brackets at that position.)

list.clear()
Remove all items from the list. Equivalent to del a[:].

list.index(x[, start[, end]])
Return zero-based index in the list of the first item whose value is x.
Raises a ValueError if there is no such item.

The optional arguments start and end are interpreted as in the slice
notation and are used to limit the search to a particular subsequence of the list. The returned index is computed relative to the beginning of the full sequence rather than the start argument.

list.count(x)
Return the number of times x appears in the list.

list.sort(key=None, reverse=False)
Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).

list.reverse()
Reverse the elements of the list in place.

list.copy()
Return a shallow copy of the list. Equivalent to a[:].

In [101]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [102]:
fruits.count('tangerine')

0

In [103]:
fruits.index('banana')

3

In [104]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [105]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [106]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [107]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [108]:
fruits.pop()
'pear'

'pear'

*Using Lists as Stacks*

In [109]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [110]:
stack.pop()
stack

[3, 4, 5, 6]

In [111]:
stack.pop()
stack.pop()
stack

[3, 4]

*Using Lists*

In [112]:
squares = []
for x in range(10):
    squares.append(x**2)

squares
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [115]:
squares2 = list(map(lambda x: x**2, range(10)))
squares2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [117]:
squares3 = [x**2 for x in range(10)]
squares3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [118]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [120]:
my_list = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            my_list.append((x, y))

my_list

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [122]:
vec = [-4, -2, 0, 2, 4]

In [123]:
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [124]:
[x for x in vec if x >= 0]

[0, 2, 4]

In [125]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [126]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[item.strip() for item in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [127]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [128]:
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [132]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [133]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [134]:
del a[:]
a

[]

## 12. Tuples and Sequences

In [137]:
t = 12345, 54321, 'hello!'
print(t[0])
t

12345

(12345, 54321, 'hello!')

In [138]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [ ]:
# Tuples are immutable:
t[0] = 88888 #will generate an error

## 13. Sets

In [139]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'orange', 'banana', 'pear', 'apple'}

In [140]:
'orange' in basket

True

In [141]:
'crabgrass' in basket

False

## 14. Dictionaries

In [143]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [144]:
tel['jack']

4098

In [145]:
del tel['sape']
tel['irv'] = 4127
tel

{'guido': 4127, 'irv': 4127, 'jack': 4098}

In [146]:
list(tel.keys())

['jack', 'guido', 'irv']

In [147]:
sorted(tel.keys())

['guido', 'irv', 'jack']

In [148]:
'guido' in tel

True

In [149]:
'jack' not in tel

False

In [150]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [151]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [152]:
dict(sape=4139, guido=4127, jack=4098)

{'guido': 4127, 'jack': 4098, 'sape': 4139}

*Looping Techniques*

In [ ]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

In [154]:
# To loop over two or more sequences at the same time, 
# the entries can be paired with the zip() function.

questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [155]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [156]:
# To loop over a sequence in sorted order, 
# use the sorted() function which returns 
# a new sorted list while leaving the source unaltered.

basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear